.display {
    background-color: lightblue;
    text-align: right;
    padding: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 5px solid black;
    border-radius: 25px;
    font-size: 20px;
  }
  
  .keys {
    text-align: center;
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 25px;
    font-size: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto
  }
  

  button {
    color: black;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .operator {
    font-family: verdana;
    background-color: gainsboro; 
  }

  .clear {
    font-family: verdana;
    background-color: gainsboro; 
  }

  .equal {
    background-color:orange;
    grid-area: 2 / 4 / 6 / 5;
  }
